.CreateProduct {
    max-width: 650px;
    min-width: 450px;
    margin: 15px auto;
}

.input {
    margin-top: 5px;
    margin-right: 5px; 
    margin-bottom: 5px;
}

.CreateProduct input {
    width: 30%;
}