.Table {
  max-width: 100%;
  margin: auto;
}

table {
  margin: auto;
  border: 2px solid darkblue;
  min-width: 450px;
  border-collapse: collapse;
  border-spacing: 0;
}
  
th {
  width: 195px;
  border-bottom: 2px solid black;
  padding: 15px 0px;
  background-color: lightgrey;
}

th.actions {
  width: 25%;
}
  
td {
  border: 1px solid black;
  text-align: center;
  padding: 15px 15px;
  line-height: 22px;
}

input {
  width: 75%;;
}